html, body {
    scroll-behavior: smooth;
}

.dialog {
    background: black;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    padding: 1%;
    border-radius: 2.5%;
    opacity: 0%;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.menu {
    position: relative;
    height: 50%;
}

.helpButtons {
    position: absolute;
    right: 10%;
    top: 0;
}

.helpButton {
    /* margin-right: 10px; */
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    border: grey;
    border-radius: 5%;
}

.helpButton:hover {
    background-color: grey;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.button {
    border: none;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    cursor: pointer;
    margin-right: 1%;
    margin-bottom: 1%;
}

.button:hover {
    background-color: black;
    color: white;
}

table {
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

table th {
    text-align: left;
    background-color: #e3e3e3;
}

.fade {
    animation: fade 2.5s ease;
    -webkit-animation: fade 2.5s ease;
}
@keyframes fade {
    from{opacity: 0%}
    20%{opacity: 100%}
    80%{opacity: 100%}
    to{opacity: 0%}
}
@-webkit-keyframes fade {
    from{opacity: 0%}
    20%{opacity: 100%}
    80%{opacity: 100%}
    to{opacity: 0%}
}